.song_form_div {
    display: flex;
    justify-content: center;
}


.song_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}


.song_form_errors {
    margin-top: 4vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e91429;
    width: 450px;
    padding-top: 15px;
    border-radius: 10px;
}


.song_form_error {
    font-size: 20px;
    margin-bottom: 2vh;
}


.song_form_divs {
    margin-top: 2vh;
    margin-bottom: 1vh;
}


.song_form_p {
    max-width: 500px;
    min-height: fit-content;
    font-size: 20px;
    color: #1DB954
}



.sf_label {
    font-size: 19px;
    margin-bottom: 5px;
}


.sf_option {
    color: #444444;
}


.song_form_divs > input,
.song_form_divs > select {
    padding-left: 12.5px;
}


.song_form_divs > input,
.song_form_divs > select,
.song_form_divs > button {
    width: 450px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}


.song_form_divs > input:hover,
.song_form_divs > select:hover {
    box-shadow: inset 0 0 0 1px #1DB954;
}


.song_form_divs > input:focus,
.song_form_divs > select:focus {
    box-shadow: inset 0 0 0 1px black;
}


.song_form_divs > button {
    text-decoration: none;
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .06s ease-in;
    height: 50px;
    width: 450px;
}


.sf_submit {
    margin-top: 4vh;
    text-decoration: none;
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    font-size: 25px;
    border: 0px;
    cursor: pointer;
    border-radius: 40px;
    transition: all .06s ease-in;
    height: 50px;
    width: 120px;
}


.sf_submit:hover,
.song_form_divs > button:hover {
    background-color: #1DB954;
    color: white;
    transform: scale(1.1);
}

