.song_form_div {
    display: flex;
    justify-content: center;

}

.song_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px

}

.song_form_errors {
    margin-top: 20px;
    margin-bottom: 20px;
}

.song_form_error {
    margin-top: 10px;
    margin-bottom: 10px;
}

.song_form_divs {
    margin-top: 10px;
    margin-bottom: 10px;
}