.about-div {
    border: 2px white solid;
    width: 40%;
    height: 30vh;
    background-color: rgb(35,35,35);
}

.about-cont {
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content:space-around;
}

.about-header {
    display: flex;
    background-image: linear-gradient(

		rgb(29, 185, 84) 0%,
        rgba(35, 35, 35, 0) 95%,
		rgb(35, 35, 35)
	);
    margin: 0;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.about-header h2 {
    margin: 0;
}

.about-github {
    color:white;
}
