#songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    /* scrollbar-color: none; */
}

#song {
    display: grid;
    grid-template-columns: 1fr 1fr 20fr 15fr 15fr 10fr 1fr 1fr;
}
