/* TODO Add site wide styles */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.949) 12%, #121212ee);
    opacity: 1;

}

#profile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.949);
    border: 3px solid black;
    border-radius: 10%;
    padding: 0;
}

#profile-menu * {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    z-index: 1;
}

#root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:minmax(150px,17%) minmax(83%,93%);
    grid-template-rows: 9% 91%;
    grid-template-areas:
    'sidebar navbar'
    'sidebar content';
}

.nav-bar {
    grid-area: navbar;
    background-color: rgba(0,0,0,98%);
}

.content {
    grid-area: content;
    /* background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.949) 12%, #121212ee); */
    overflow-y: scroll;
    margin-bottom: 80px;
}

.side-bar {
    grid-area: sidebar;
    min-width: 150px;
    background-color: #050203;
    overflow-y: scroll;
    margin-bottom: 80px;
    /* border: 2px solid white; */
    position: relative;
    overflow-x: hidden;
}

.search-playlist-link {
    text-decoration: none;
}

/* button{
    width: 100px;
    height: 36px;
    font-size: 18px;
    border-radius: 9px;
} */

/* button:hover {
	background-color: rgb(29, 185, 84);
	color: white;
} */
