/* TODO Add site wide styles */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif

}

#root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:minmax(150px,17%) minmax(83%,93%);
    grid-template-rows: minmax(50px,100px) minmax(83%,93%);
    grid-template-areas:
    'sidebar navbar'
    'sidebar content';
}

.nav-bar {
    grid-area: navbar;
    background-color: rgba(0,0,0,98%);
}

.content {
    grid-area: content;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.949) 12%, #121212ee);

}

.side-bar {
    grid-area: sidebar;
    min-width: 150px;
    background-color: #050203;
    overflow-y: scroll;
}
