.side-bar-container,
.side-bar-playlist-list{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.side-bar-container h2 {
    margin-bottom: 40px;
}

.sidebar-link {
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(168, 167, 167);
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
}

.sidebar-link:hover {
    color: white;
    transform: scale(1.04);
}
.sidebar-link i {
    margin-right: 15px;
}

#side-bar-circle-logo{
    width: 25%;
    top: 10px;
    margin-bottom: 50px;
}

#side-bar-word-logo{
    width: 60%;
    margin-bottom: 50px;
}

#side-bar-logo-imgs{
    display: flex;
}

.side-bar-playlist-list {
    padding: 0;
    width: 85%;
    padding-top: 20px;
    border-top: 2px solid rgba(128, 128, 128, 0.289);
}

.sidebar-playlist-link {
    font-size: 1.05rem;
}
