.side-bar-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.side-bar-container h2 {
    margin-bottom: 40px;
}

.sidebar-link {
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(168, 167, 167);
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5px;
}

.sidebar-link:hover {
    color: white;
    transform: scale(1.04);
}
.sidebar-link i {
    margin-right: 15px;
}
