.home-container {
    padding: 0px 32px;
    background-color: #121212;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #121212;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
    border-radius: 16px;
}
