#user-profile-image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#user-profile-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-playlist-cover-art{
  height: 120px;
  width: 120px;
  border-radius: 12px;
}

.profile-playlists-container{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  width: 150px;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition-duration: .2s;
}

.profile-playlists-container:hover{
  background-color: gray;
}

#all-users-playlist-container{
  display: flex;
}

#users-songs-list{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#song-title{
  font-size: 16px;
}

#song-artist{
  font-size: 12px;
  color:#7d7c7c;
}

#users-songs-list:hover{
  background-color: #262626;
}

#user-profile-play-button{
  height:50px;
  width: 50px;
  border-radius: 50%;
  background-color: #4a4a4a;
  transition-duration: .1s;


}

#user-profile-queue-button{
  height: 50px;
  width: 50px;
  background-color: #4a4a4a;
  border-radius: 50%;
  transition-duration: .1s;
}

#add-to-playlist-button-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
#playbutton-image{
  height:30px;
  width: 30px;
  border-radius: 50%;
}

#user-profile-play-button:hover{
  background-color: green;
  height:51px;
  width: 51px;
}

#user-profile-queue-button:hover{
  height: 51px;
  width: 51px;
  background-color: green;
}

#playlist-nav-link-text{
  color:aliceblue;
}
