.nav-list {
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: rgb(168, 167, 167);
    font-weight: 700;
    font-size: 1.2rem;
}
.nav-container {
    display: flex;
    min-width: 250px;
    padding: 0 16px;
    align-items: center;
}

.nav-list li {
    display: inline-block;
    margin: 0 10px;
    transition: all .07s ease-in;

}

.nav-bar {
    display: flex;
    justify-content: end;
}

.logout-btn {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 15px 18px;
    font-weight: bold;
    border-radius: 500px;
    border: 0px;
}

.nav-list li:hover {
    color: white;
    transform: scale(1.1);
}
.nav-list a:hover {
    color: white;
}
