.nav-list {
    /* display: flex; */
    /* position: relative; */
    /* width: fit-content; */
    border: 2px solid red;
    /* padding: 0; */
    /* right: 0; */
    list-style: none;
}
.nav-list a {
    text-decoration: none;
}
.nav-container {
    border: 2px solid blue;
    display: flex;
    margin-right: 0px;
    min-width: 250px;
    padding: 0 16px;
    align-items: center;
}

.nav-list li {
    display: inline-block;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: end;
}
