.nav-container {
    display: flex;
    min-width: 250px;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.nav-list a {
    text-decoration: none;
    color: rgb(168, 167, 167);
    font-weight: 700;
}

#song-menu-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#song-menu-buttons button {
    margin: 0 2px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: rgb(227, 222, 222);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

#song-menu-buttons button:hover {
    background-color: rgb(29, 29, 29);
    color: white;
}

.nav-list li {
    display: inline-block;
    margin: 0 10px;
    transition: all .07s ease-in;

}

.nav-bar {
    display: flex;
    justify-content: end;
}

.logout-btn {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 15px 18px;
    font-weight: bold;
    border-radius: 500px;
    border: 0px;
    cursor: pointer;
    transition: all .06s ease-in;
}
.logout-btn:hover {
    background-color: #1DB954;
    color: white;
}
.nav-list li:hover {
    color: white;
    transform: scale(1.1);
}
.nav-list a:hover {
    color: white;
}

#demo-button{
  width: 80px;
  height: 30px;
  border-radius: 15px;
  transition-duration: .2s;
}

#demo-button:hover{
    background-color: green;
}

#nav-bar-user-info{
 display: flex;
 align-items: center;
}

#nav-bar-user-link{
    display: flex;
    align-items: center;
}

#nav-bar-user-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
